CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_DEVMEM=y
CONFIG_BUSYBOX_CONFIG_XXD=y
# CONFIG_GDB is not set
CONFIG_KERNEL_DEVMEM=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_luci=y
